@model ChaTik.ViewModels.ChangePasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Изменение пароля";
}
<h2>Изменение пароля для пользователя @Model.Name</h2>
<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All"></div>
 
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />

    <div>
        <label asp-for="NewPassword">Новый пароль</label>
        <input type="text" asp-for="NewPassword"/>
    </div>
    <div>
        <input type="submit" value="Сохранить"/>
    </div>
</form>